<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="snippets.html :: name_head">
<title>Home</title>

</head>

<body>

	<nav th:replace="snippets.html :: name_navbar"></nav>

	<div class="jumbotron"
		style="margin-left: 170px; margin-top: 50px; margin-right: 300px">
		<h1 class="display-4">Point Of Sale</h1>
		<p class="lead">Sales Made Easy</p>
		<hr class="my-4">
		<p>This application helps you to add products, create orders, generate invoice and
			reports fast and secure</p>
	</div>
	<!--Container ends-->
	<footer th:replace="snippets.html :: name_footer"></footer>


</body>

</html>